<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="name"></input>
      <input type="submit" title="submit">
    </form>
  </body>
</html>
